@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur notre sith Loup-Phoque</h1>
    <p>Découvrez nos accessoire pour poules et coqs</noscript></p>

</div>
